@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Fatima Foundation is a non-profit organization whose mission is to transform the lives of orphaned and vulnerable children in Senegal. We are committed to giving these children a future, by providing clean water, nourishing food, clothing, medicine, safe shelter and a quality education.</p>
