@{
    ViewBag.Title = "Home Page";
}

<!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) -->
<div class="fullwidthbanner-container">
    <div class="banner">
        <ul>
            <!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 1 [SLIDE STYLE=BOXFADE] -->
            <li class="slide1" data-transition="slotfade-horizontal" data-masterspeed="300" data-slotamount="20">
                <img alt="" src="~/Content/images/Child_education.jfif" />
               
              
            </li>
            <!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 2 [SLIDE STYLE=BOXFADE] -->
            <li class="slide2" data-transition="slotfade-horizontal" data-masterspeed="300" data-slotamount="20">
                <img alt="" src="~/Content/images/Senegal-Banner-Photo.jpg" />
               
                
            <!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 3 [SLIDE STYLE=LEFT] -->
            <li class="slide3" data-transition="slotfade-horizontal" data-masterspeed="300" data-slotamount="20">
                <img alt="" src="" />
               
               
            </li>
        </ul>
        <div class="tp-bannertimer"></div>
        <div>
            
        </div>
    </div>
</div>