@{
    ViewBag.Title = "Home Page";
}

<!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) -->
<div class="fullwidthbanner-container">
    <div class="banner">
        <ul>
            <!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 1 [SLIDE STYLE=BOXFADE] -->
            <li class="slide1" data-transition="slotfade-horizontal" data-masterspeed="300" data-slotamount="20">
                <img alt="" src="img/slide_01.png" />
                <div class="caption lfb carousel-caption" data-x="500" data-y="50" data-speed="1000" data-start="1000" data-easing="easeOutBack" style="background: none;">
                    <img alt="" src="~/Content/img/rocket_01.png" />
                </div>
                <div class="caption sft carousel-caption" data-x="32" data-y="51" data-speed="1000" data-start="1000" data-easing="easeInBack" style="background: none; padding-left: 0;">
                    <p class="large">IS YOUR COMPANY, PRODUCT OR<br /> SERVICE READY TO BLASTOFF?</p>
                </div>
                <div class="caption sfr carousel-caption" data-x="17" data-y="155" data-speed="1000" data-start="1000" data-easing="easeOutBack" style="background: none;">
                    <p class="medium">When your business is ready for takeoff then promote it with<br /> reDesign, an amazing new multi-purpose template built on the<br /> rocket-fueled Twitter Bootstrap framework.</p>
                </div>
                <div class="caption sfr carousel-caption" data-x="17" data-y="280" data-speed="1000" data-start="1000" data-easing="easeOutBack" style="background: none;">
                    <a class="slider-btn" href="#"><img src="~/Content/img/launch_btn.png" alt="" /></a>
                </div>
            </li>
            <!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 2 [SLIDE STYLE=BOXFADE] -->
            <li class="slide2" data-transition="slotfade-horizontal" data-masterspeed="300" data-slotamount="20">
                <img alt="" src="~/Content/img/slide_01.png" />
                <div class="caption lfb carousel-caption" data-x="0" data-y="0" data-speed="1000" data-start="1000" data-easing="easeOutBack" style="background: none;">
                    <img alt="" src="~/Content/img/screenshot.png" />
                </div>
                <div class="caption sft carousel-caption" data-x="500" data-y="21" data-speed="1000" data-start="1000" data-easing="easeInBack" style="background: none; padding-left: 0;">
                    <p class="large">With Bonus Pages and<br /> Features You Simply Won’t<br /> Find Anywhere Else</p>
                </div>
                <div class="caption sfr carousel-caption" data-x="490" data-y="170" data-speed="1000" data-start="1000" data-easing="easeOutBack" style="background: none;">
                    <p class="medium"><img src="~/Content/img/slide2_bullet.png" alt="" />  Product Information Page Template</p>
                    <p class="medium"><img src="~/Content/img/slide2_bullet.png" alt="" />  Product Feature Tour</p>
                    <p class="medium"><img src="~/Content/img/slide2_bullet.png" alt="" />  Product/History Timeline</p>
                    <p class="medium"><img src="~/Content/img/slide2_bullet.png" alt="" />  Product/Service Comparison Chart</p>
                    <p class="medium"><img src="~/Content/img/slide2_bullet.png" alt="" />  Product/Service Pricing Tables</p>
                    <p class="medium"><img src="~/Content/img/slide2_bullet.png" alt="" />  Support & FAQs Page and more...</p>
                </div>
                <div class="caption sfr carousel-caption" data-x="490" data-y="345" data-speed="1000" data-start="1000" data-easing="easeOutBack" style="background: none;">
                    <a class="slider-btn" href="#"><img src="img/tour_button.png" alt="" /></a>
                </div>
            </li>
            <!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 3 [SLIDE STYLE=LEFT] -->
            <li class="slide3" data-transition="slotfade-horizontal" data-masterspeed="300" data-slotamount="20">
                <img alt="" src="img/slide_01.png" />
                <div class="caption lfb carousel-caption" data-x="240" data-y="-12" data-speed="1000" data-start="1000" data-easing="easeOutBack" style="background: none;">
                    <img alt="" src="~/Content/img/rocket_03.png" />
                </div>
                <div class="caption sft carousel-caption" data-x="32" data-y="51" data-speed="1000" data-start="1000" data-easing="easeInBack" style="background: none; padding-left: 0;">
                    <p class="large">Purchase reDesign and activate<br /> warp speed for your business</p>
                </div>
                <div class="caption sfr carousel-caption" data-x="17" data-y="155" data-speed="1000" data-start="1000" data-easing="easeOutBack" style="background: none;">
                    <p class="medium">Purchase reDesign and strap on your seatbelt and<br /> prepare your business for warp speed. With reDesign,<br /> the sky’s the limit!</p>
                </div>
                <div class="caption sfr carousel-caption" data-x="17" data-y="270" data-speed="1000" data-start="1000" data-easing="easeOutBack" style="background: none;">
                    <a class="slider-btn" href="#"><img src="~/Content/img/purchase_button.png" alt="" /></a>
                </div>
            </li>
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>